.app__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-black);
    padding: 5rem 2rem;
  }
  
  .app__gallery-title {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .app__gallery-title h1 {
    font-size: 3rem;
    color: var(--color-white);
  }
  
  /* Galerie d’images */
  .app__gallery-images {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
  }
  
  .app__gallery-images_container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
  
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .app__gallery-images_container::-webkit-scrollbar {
    display: none;
  }
  
  .app__gallery-images_card {
    flex: 0 0 auto;
    scroll-snap-align: center;
  
    width: 300px;
    max-width: 90vw;
    height: 400px;
  
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  
    transition: transform 0.3s ease;
  }
  
  .app__gallery-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
  .app__gallery-images_card:hover img {
    transform: scale(1.05);
  }
  
  /* Flèches de navigation */
  .app__gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
    pointer-events: none; /* Permet à l’utilisateur de toujours scroller */
  }
  
  .gallery__arrow-icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
    pointer-events: auto; /* Mais les flèches restent cliquables */
    padding: 0.3rem;
  }
  
  .gallery__arrow-icon:hover {
    color: var(--color-white);
  }
  
  @media screen and (min-width: 1440px) {
    .app__gallery-images_card {
      width: 400px;
      height: 500px;
    }
  }
  
  @media screen and (min-width: 1920px) {
    .app__gallery-images_card {
      width: 500px;
      height: 600px;
    }
  }
  